@import url('https://fonts.googleapis.com/css?family=Ubuntu');
* {
    font-family: "Ubuntu", sans-serif;
}

body {
    margin: 0;
}

.middle {
    width: 790px;
    margin: auto;
}


/*
  ========================================
  Navigation bar
  ========================================
*/

nav {
    background: #F2F2F2;
    border-bottom: 1px solid #ebebeb;
    box-sizing: border-box;
    position: relative;
    height: 60px;
}

.nav-l {
    float: left;
    height: 50px;
    width: 50px;
    padding: 5px 50px;
}

.logo {
    background-image: url(../images/AHS-logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 50px;
    width: 50px;
}

.nav-r {
    float: right;
    position: relative;
    top: 21px;
    right: 50px;
}

.nav-text {
    text-decoration: none;
    color: #333;
    padding: 20px 30px;
}

.nav-text:hover {
    color: #EF1D28;
    border-bottom: 1px solid #2D0B0A;
}

.caps {
    text-transform: uppercase;
}


/*
  ========================================
  Gallery
  ========================================
*/

#gallery {
    width: 800px;
    padding: 5px 0 20px 0;
    margin: auto;
}

figure {
    position: relative;
    left: 35px;
    margin-left: -35px;
}

.item {
    height: 280px;
}

.delete {
    color: #FFF;
    position: absolute;
    z-index: 1;
    right: 10px;
    top: 5px;
    cursor: pointer
}


/*
  ========================================
  Display buttons
  ========================================
*/



.display {
    background-color: #ca3c25;
    font-size: 16px;
    color: #FFF;
    text-transform: uppercase;
    width: 262px;
    border: none;
    outline-color: #DDE2B9;
    cursor: pointer;
    outline: none;
}

.display:hover {
    background-color: #551815;
}

.buttons {
    margin: auto;
    width: 800px;
}


/*
  ========================================
  Text
  ========================================
*/

.content {
    color: #333;
    width: 800px;
    height: 230px;
    margin: 20px auto;
}

#text-a,
#text-b {
    box-sizing: border-box;
    width: 400px;
    padding: 15px;
}

#text-a {
    float: right;
}

#text-b {
    float: left;
}

.show {
    display: inline-block;
}

.hide {
    display: none;
}